body{
	margin: 0;
	background-repeat:no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	background-image: url(../img/back.jpg);
	-webkit-background-image: url(../img/back.jpg);
	-moz-background-image: url(../img/back.jpg);
	-o-background-image: url(../img/back.jpg);
	
}
@media only screen and (max-width: 600px) {
	body {
	  font-size:10px; 
	}
  }

a {
	text-decoration: none;
}  

header{
	width: 100%;	
	background-color:black;
	background-image: url(../img/bandeau.jpg);
	margin-bottom:80px;	
	
}
.conteneur_logo{
	display:flex;
	float:left;
	justify-content:space-between;
}
.titre{
	display:flex;
	position:relative;
	margin:auto;
}

#conteneur_body{
	display:block;
	justify-content:center;
	width:806px;
	margin-left:23%;
	margin-top:30px;
	margin-bottom:40px;
}

.defaultmessage {
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bolder;
	text-align: center;
	background-color:#FCBB04;
}
							/*Dropdown Avatar*/
.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: #FCBB04;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  opacity: 0.6;
  transition: 0.3s;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  opacity:1.9;
}

.dropdown-content {
  overflow: hidden;
  display: none;
  position: relative;
  background-color: #FCBB04;
  min-width: 65px;
  min-height: 25px;
}

.dropdown-content a {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  display: block;
  text-align: center;
  opacity: 0.6;
  transition: 0.3s;
}

.dropdown-content a:hover {
  opacity:1.9;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}



							/*Liste Restaurants*/

#box{
	display:flex;
	align-items:center;
	flex-direction:column;
	
}
.desc h2 {
	font-family: Arial, Helvetica, sans-serif;
}

.gallery {
    margin: 5px;
    width: 900px;
	height:200px;
	background-color:#FCBB04;
	margin-right:30%;
	transition: transform .3s;
}
.gallery a{
	text-decoration:none;
	color:black;
}
.gallery:hover {
   -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
	padding: 40px;
    
    
}

.gallery img {
    width: 40%;
    height: 100%;
	float:left;
	margin-right:15px;
}

.desc {
    padding-top: 0px;
    text-align: center;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	
}

						/*Menu*/

#menu_horizontal{
	background-color:#FCBB04;
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
	margin: 0;
    padding: 0;
    border: 0;
	width: 100%;
	text-align: center;
}						

@media only screen and (max-width: 600px) {
	.home {
	  height: 20px;
	}
  }

#menu ul li {
	list-style-type:none;
	display:inline-block;
	padding-top:auto;
	height:40px;	
}

#menu{
	display:inline-block;
	margin-left:0;
	width: 100%;	
}

.centre img{
	margin:auto;
	display:block;
}

.button{
	display:block;
	text-decoration:none;
	width:170px;
	text-align:center;
	line-height:50px;
	font-family: Arial, Helvetica, sans-serif;	
	font-size:15px;
	font-weight:bolder;
	color:black;
	margin:5px;
	margin-bottom:0px;
}

.button:hover, .home:hover {
	-ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
	transform: scale(1.1);
	transition: 0.3s;
}

@media only screen and (max-width: 600px) {
	.button {
	  font-size: 12px;
	 
	}
  }

						/*Bannière*/
aside{
	margin-top:5px;
	margin-right:3%;
	padding:5px;
    left: 80%;
	float:right;
}
						/*Formulaire Resto*/

legend{
	font-family:Arial, Helvetica, sans-serif;	
}




							/*Formulaire*/	
#formbox {
	width: 40%; 
	height: 100%;
    background: #FCBB04;
    padding: 50px 60px 60px;
	text-align: center;
    margin:auto;
    border: 1px solid black;
    border-radius: 6px;       
	border: none;
	box-shadow: 0 16px 44px rgba(0,0,0,.21);
	overflow: hidden;
	
}

.form-control {
    
    width: 80%;
    height: 35px;
    padding: 8px 15px;	
    font-size: 14px;
    line-height: 1.42857143;
    color: black;
    
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -moz-transition: border-color ease-in-out .15s,-moz-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    /* transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; */
}
.btn {
    touch-action: manipulation;
	cursor: pointer;
    padding: 8px 15px;
    font-size: 20px;
    line-height: 1.42857143;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	color: #FCBB04;
    background-color: black;
	border-color: black;
	width: 100%;
	height:auto;
}

#formbox textarea{
	height:140px;

	
}
#formbox h2{
	    font-family:Arial, Helvetica, sans-serif;
}

						/*Catégories*/
#boxcard{
	display:flex;
	align-items:center;
	flex-direction:column;
}						

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    width: 200px;
    height:200px;
	border:1px solid black;
	display: flex;
    flex-direction: column;    
    align-items: center;	
	background-color:#FCBB04;
}

.card:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}
.card h3{
	color:black;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
}
.line{
	display:inline-flex;
}

						/*Mentions légales*/
.mentions{
	display: block;
	align-items: center;
	background-color: white;
}
.mentions p, h1, h2, h3{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
						
						/*Message de Bienvenue*/
.welcome {
	font-family:Arial, Helvetica, sans-serif;
	color:#FCBB04;
	font-size:150px;
	text-align:center;
}

						/*Pied de Page*/
.logofooter{
	padding-top:80px;
}						
.conteneur_footer{
	background-color:black;
	height:300px;
	width:100%;
	position: relative; 
	top:95%;
	display:flex;
	justify-content:space-around;
	margin-top:30px;
}
h1 {
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	
}

.presentation{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bolder;
}

h4{
	color:#FCBB04;
	font-family:Arial, Helvetica, sans-serif;
}
.footer_menu h4,h5{
	color:#FCBB04;
	font-family:Arial, Helvetica, sans-serif;
}
.footer_menu a, .footer_menu2 a{
	text-decoration:none;
	font-size:15px;
}

.reseaux a {
	margin:10px;	
}

.reseaux img:hover{
	-ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
	transform: scale(1.1);
	transition: 0.3s;
}

.footer_menu2{
	padding-top:43px;
}
label{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bolder;
}

@media screen and (max-width:450px)
{
	
	.line{
		display:inline;
	}
}